/**
 * Main stylesheet
 * @created on 26-11-2015
 */

/*
* 0 - Reset
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}

input,button,textarea,select,option {
    outline: 0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form {
	display: block;
	overflow: hidden;
}

/*
 * 1 - Global settings
 */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

/* 1.1 - Variables */
@theme: #ffb82f;
@theme-secondary: #E3A42A;

@dark-grey: #333;
@grey: #666;
@light-grey: #eee;

@img-folder: "../img/";
@font-folder: "../fonts/";

.shadow(@opacity: 0.2) {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
}

.animate(@duration: 0.2s) {
	-webkit-transition: all linear @duration;
	-o-transition: all linear @duration;
	transition: all linear @duration;
}

/* 1.2 - Html */
html, body {
	height: 100%;
}

img {
	width: 100%;
}

/* 1.3 - Setting up a grid system */
[class^='row'] {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	z-index: 5;
}

.row {
	&-90 { width: 90%; }
	&-80 { width: 80%; }
	&-70 { width: 70%; }
	&-60 { width: 60%; }
}

[class^='col'] {
	float: left;
}

.col {
	&-1 { width: 8.33%; }
	&-2 { width: 16.66%; }
	&-3 { width: 25%; }
	&-4 { width: 33.33%; }
	&-5 { width: 41.66%; }
	&-6 { width: 50%; }
	&-7 { width: 58.33%; }
	&-8 { width: 66.66%; }
	&-9 { width: 75%; }
	&-10 { width: 83.33%; }
	&-11 { width: 91.66%; }
	&-12 { width: 100%; }  
}

.area {
	padding: 2%;
}

/*
 * 2 - Typography
 */
/* 2.1 - Fonts */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: normal;
    src: url('@{font-folder}ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: lighter;
    src: url('@{font-folder}ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: bold;
    src: url('@{font-folder}ProximaNova-Semibold.otf');
}

html,
button,
input,
select,
textarea,
a,
.grid {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: normal;
	color: @dark-grey;
	line-height: 20px;
	font-size: 16px;
}

/* 2.2 - Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 20px0;
	font-size: 60px;
	line-height: 72px;
}

h2 {
	margin: 15px 0;
	font-size: 50px;
	line-height: 60px;
}

h3 {
	margin: 10px;
	font-size: 35px;
	line-height: 42px;
}

h4 {
	margin: 5px 0;
	font-size: 30px;
	line-height: 36px;
}

h5 {
	margin: 5px 0;
	font-size: 25px;
	line-height: 30px;
}

h6 {
	margin: 5px 0;
	font-size: 20px;
	line-height: 24px;
}

/* 2.3 - Classes */
.large { font-size: 20px; line-height: 24px; }
.big { font-size: 18px; line-height: 22px;}
.small { font-size: 14px; line-height: 18px; }
.tiny { font-size: 12px; line-height: 16px; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.justify { text-align: justify; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.margin { margin-bottom: 30px; }
.indent { text-indent: 5%; }

.theme-text { color: @theme; }
.white-text { color: #fff; }
.light-grey-text { color: @light-grey; }
.grey-text { color: @grey; } 
.dark-grey-text { color: @dark-grey; }

.bold, strong { font-weight: bold; }
.light { font-weight: lighter; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }

/* 2.4 - Blocks*/
quote {
	padding: 15px;
  margin: 0 20px 0 20px;
  border-left: 5px solid @theme;
  background: #f8f8f8;
}

hr {
	height: 1px;
	width: 100%;
	border: none;
	background: #e1e1e1;
}

/*
 * 3 - Frequently used definitions
 */
/* 3.1 - Classes */
.theme-bg { background-color: @theme; }
.white-bg { background-color: #fff; }
.grey-bg { background-color: @light-grey; }
.dark-grey-bg { background-color: @dark-grey; }
.almost-black-bg { background-color: #222; }

/* 3.2 - Image scroll*/
[class^='img-'] { position: absolute; z-index: -1; }

/* 3.3 - Filter */
/* 3.3.1 - jQuery slider */
.price-range {
	margin: 15px auto;
	width: 90%;
	height: 7px;
	background: #e1e1e1;
	position: relative;


	.ui-slider-handle {
		position: absolute;
		top: -6px;
		margin-left: -9.5px;
		z-index: 10;
		height: 13px;
		width: 13px;
		border-radius: 9.5px;
		border: 3px solid @theme;
		background: #f8f8f8;
		.shadow();
	}

	.ui-slider-range {
		position: absolute;
		z-index: 5;
		height: 7px;
		background: @theme;
		display: block
	}
	.min { font-weight: bold; float: left; margin-top: 15px; }
	.max { font-weight: bold; float: right; margin-top: 15px;  }
}

/* 3.3.2 - Section */
.section-container {
	width: 100%;
	padding: 13px;
	box-sizing: border-box;
	position: relative;
	background: #f2f2f2;
	cursor: pointer;

	.delete:hover {
		color: @theme;
	}
}
.sections {
	position: absolute; top: 46px; left: 0;
	z-index: 40;
	width: 100%;
	display: none;

	li {
		background: #f8f8f8;
		padding: 5px;
		box-sizing: border-box;
		cursor: pointer;

		&:hover {
			background: #f2f2f2;
		}
	}
}

/*
 * 4 - Pages
 */
/* 4.1 - Index */
.header {
	height: 100%;
	position: relative;
	z-index: 100;

	nav {
		width: 100%;
		overflow: hidden;
		//background: rgba(0, 0, 0, 0.2);

		a {
			display: inline-block;
			padding: 20px;
			float: right;

			color: @dark-grey;

			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			
			.animate();

			&:hover {
				color: @theme;
			}
		}
		a.logo {
			padding: 0;
			float: left;
		}
	}
	.motto {
		margin-top: 10%;
	}

	#search {
		width: 50%;
		margin: 5% auto 0;
		vertical-align: center;

		input, button {
			width: 82%;
			padding: 16px;
			border: none;
			background: #fff;
			float: left;
			box-sizing: border-box;
			display: block;

			font-size: 20px;
			
		}
		button {
			width: 9%;

			text-align: center;
			font-size: 14px;

			background: #fcfcfc;

			cursor: pointer;
			
			.animate();

			&.orange {
					background: @theme;				

					&:hover {
						background: @theme-secondary;
					}
			}

			&:hover {
				background: #f7f7f7;
			}
		}

		.filter, .autocomplete {
			width: 100%;
			background: #fcfcfc;
			display: none;
		}
		.filter { margin-top: 2px; };
		.autocomplete {
			li {
				padding: 10px;
				width: 100%;
				box-sizing: border-box;
				cursor: pointer;

				&:hover {
					background: #f7f7f7;
				}
			}
		}
	}
}

.product {
	background: #f8f8f8;
	overflow: hidden;
	display: block;
	cursor: pointer;
	
	.shadow(0.2);
	.animate();

	&:hover {
		.shadow(0.6;)
	}
}

article {
	background: #282828;
	overflow: hidden;
	display: block;
	cursor: pointer;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	.shadow(0.2);
	.animate();

	&:hover {
		.shadow(0.6;)
	}

}

.footer {
	//border-top: 5px solid @theme;
}