/**
 * Main stylesheet
 * @created on 26-11-2015
 */

/*
* 0 - Reset
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}

input,button,textarea,select,option {
    outline: 0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form {
	display: block;
	overflow: hidden;
}

/*
 * 1 - Global settings
 */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

/* 1.1 - Variables */
@theme: #ffb82f;
@theme-secondary: #E3A42A;

@dark-grey: #333;
@grey: #666;
@light-grey: #eee;

@img-folder: "../img/";
@font-folder: "../fonts/";

.shadow(@opacity: 0.2) {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, @opacity);
}

.animate(@duration: 0.2s) {
	-webkit-transition: all linear @duration;
	-o-transition: all linear @duration;
	transition: all linear @duration;
}

/* 1.2 - Html */
html, body {
	height: 100%;
}

img {
	width: 100%;
}

/* 1.3 - Setting up a grid system */
[class^='row'] {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.row {
	&-90 { width: 90%; }
	&-80 { width: 80%; }
	&-70 { width: 70%; }
	&-60 { width: 60%; }
}

[class^='col'] {
	float: left;
	box-sizing: border-box;
}

.col {
	&-1 { width: 8.33%; }
	&-2 { width: 16.66%; }
	&-3 { width: 25%; }
	&-4 { width: 33.33%; }
	&-5 { width: 41.66%; }
	&-6 { width: 50%; }
	&-7 { width: 58.33%; }
	&-8 { width: 66.66%; }
	&-9 { width: 75%; }
	&-10 { width: 83.33%; }
	&-11 { width: 91.66%; }
	&-12 { width: 100%; }  
}

.area {
	padding: 2%;

	&-4 { padding: 4%; }
	&-6 { padding: 6%; }
	&-8 { padding: 8%; }
	&-10 { padding: 10%; }
}

/*
 * 2 - Typography
 */
/* 2.1 - Fonts */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: normal;
    src: url('@{font-folder}ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: lighter;
    src: url('@{font-folder}ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: bold;
    src: url('@{font-folder}ProximaNova-Semibold.otf');
}

a {
	color: inherit;
}

html,
button,
input,
select,
textarea,
.grid {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: normal;
	color: @dark-grey;
	line-height: 20px;
	font-size: 16px;
}

/* 2.2 - Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 20px0;
	font-size: 60px;
	line-height: 72px;
}

h2 {
	margin: 15px 0;
	font-size: 50px;
	line-height: 60px;
}

h3 {
	margin: 10px;
	font-size: 35px;
	line-height: 42px;
}

h4 {
	margin: 5px 0;
	font-size: 30px;
	line-height: 36px;
}

h5 {
	margin: 5px 0;
	font-size: 25px;
	line-height: 30px;
}

h6 {
	margin: 5px 0;
	font-size: 20px;
	line-height: 24px;
}

/* 2.3 - Classes */
.large { font-size: 20px; line-height: 24px; }
.big { font-size: 18px; line-height: 22px;}
.small { font-size: 14px; line-height: 18px; }
.tiny { font-size: 12px; line-height: 16px; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.justify { text-align: justify; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.margin { margin-bottom: 30px; }
.indent { text-indent: 5%; }

.theme-text { color: @theme; }
.white-text { color: #fff; }
.light-grey-text { color: @light-grey; }
.grey-text { color: @grey; } 
.dark-grey-text { color: @dark-grey; }

.bold, strong { font-weight: bold; }
.light { font-weight: lighter; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }

.notselectable {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 2.4 - Blocks*/
quote {
	padding: 15px;
  margin: 0 20px 0 20px;
  border-left: 5px solid @theme;
  background: #f8f8f8;
}

hr {
	height: 1px;
	width: 100%;
	border: none;
	background: #e1e1e1;
}

/*
 * 3 - Frequently used definitions
 */
/* 3.1 - Classes */
.theme-bg { background-color: @theme; }
.secondary-bg { background-color: @theme-secondary; }
.white-bg { background-color: #fff; }
.grey-bg { background-color: @light-grey; }
.dark-grey-bg { background-color: @dark-grey; }
.almost-black-bg { background-color: #222; }

/* 3.2 - Image scroll*/
[class^='img-'] { position: absolute; z-index: -1; }

/* 3.3 - Filter */

.filter {

	/* 3.3.1 - jQuery slider */
	.price-range {
		margin: 15px auto;
		width: 90%;
		height: 7px;
		background: #e1e1e1;
		position: relative;


		.ui-slider-handle {
			position: absolute;
			top: -6px;
			margin-left: -9.5px;
			z-index: 10;
			height: 13px;
			width: 13px;
			border-radius: 9.5px;
			border: 3px solid @theme;
			background: #f8f8f8;
			-ms-touch-action: none;
			touch-action: none;
			.shadow();
		}

		.ui-slider-range {
			position: absolute;
			z-index: 5;
			height: 7px;
			background: @theme;
			display: block
		}
		.min { font-weight: bold; float: left; margin-top: 15px; }
		.max { font-weight: bold; float: right; margin-top: 15px;  }
	}

	/* 3.3.2 - Sections */
	.section-container {
		width: 100%;
		padding: 13px;
		box-sizing: border-box;
		position: relative;
		background: #f2f2f2;
		cursor: pointer;

		.delete:hover {
			color: @theme;
		}

		.sections {
			position: absolute; top: 46px; left: 0;
			z-index: 40;
			width: 100%;
			display: none;
			

			li {
				background: #f8f8f8;
				padding: 5px;
				box-sizing: border-box;
				cursor: pointer;

				&:hover {
					background: #f2f2f2;
				}
			}
		}
	}
}		

/* 3.3 - Autocomplete */
#search {
	width: 50%;
	margin: 5% auto 0;
	vertical-align: center;

	input, button {
		width: 82%;
		padding: 16px;
		border: none;
		background: #fcfcfc;
		float: left;
		box-sizing: border-box;
		display: block;

		font-size: 20px;
		
	}
	button {
		width: 9%;

		text-align: center;
		font-size: 14px;

		background: #fafafa;

		cursor: pointer;
		
		.animate();

		&.orange {
				background: @theme;				

				&:hover {
					background: @theme-secondary;
				}
		}

		&:hover {
			background: #f7f7f7;
		}
	}

	.filter, .autocomplete {
		width: 100%;
		background: #fcfcfc;
		display: none;
	}
	.filter { margin-top: 2px; };
	.autocomplete {
		li {
			padding: 10px;
			width: 100%;
			box-sizing: border-box;
			cursor: pointer;

			&:hover {
				background: #f7f7f7;
			}
		}
	}
}
/*
 * 4 - Frond End
 */
/* 4.1 - Index */
#master {
	.header {
		height: 100%;
		position: relative;
		overflow: visible;

		nav {
			width: 100%;
			overflow: hidden;
			background: rgba(255, 255, 255, 0.5);

			a {
				display: inline-block;
				padding: 20px;
				float: right;

				color: @dark-grey;

				text-transform: uppercase;
				font-size: 15px;
				font-weight: bold;
				
				.animate();

				&:hover {
					color: @theme;
				}
			}
			a.logo {
				margin: 0 10px;
				padding: 0;
				line-height: 0;
				float: left;
			}
		}
		.motto {
			margin-top: 10%;
		}
	}
}
/* 4.1 - Products */
#page {
    background: url('@{img-folder}banner.jpg') fixed;
    background-size: cover;

	nav {
		width: 100%;
		overflow: hidden;
		background: white;

		a {
			display: inline-block;
			padding: 20px;
			float: right;

			color: @dark-grey;

			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			line-height: 20px;

			.animate();

			&:hover {
				color: @theme;
			}
		}
		a.logo {
			margin: 0 10px;
			padding: 0;
			line-height: 0;
			float: left;
		}
	}

	#search {
		padding-bottom: 75px;
	}

	.sections-page {
		li {
			padding: 5px;
			border-left: 3px solid #eee;
			cursor: pointer;
			
			.animate();

			&:hover {
				background: #eee;
				border-left: 3px solid @theme;
			}
		}
	}
}

/* 4.1 - Commonly used */
.product {
	overflow: hidden;
	display: block;
	cursor: pointer;
	border-top: 3px solid @theme;
	background: #fff;

	.animate();

	&-desc {
		display: none;
		position: absolute;
		top: 0; left: 0;
		background-color: rgba(255, 255, 255, 0.8);
		height: 100%;
		overflow: hidden;
	}
}

article {
	overflow: hidden;
	display: block;
	cursor: pointer;
	.animate();

	&:hover {
		background: #fafafa;
	}

}

.footer {
	padding-bottom: 20px;
}

.go {
	padding: 15px 60px;
	background-color: @theme;
	color: white;

	.animate();

	&:hover {
		background-color: @theme-secondary;
		padding: 17px 65px;
	}
}

.gallery {
	cursor: pointer;
	.animate();

	&:hover {
		background-color: #fff;
	}
}

img.bordered {
	border: 5px solid @theme;
}

/** 
 * 5 - Backend
 */

/* 5.1 - Layout */
.admin {

	&-alerts div {
		padding: 20px 10px;
	}

	&-content {
		height: calc(~'100% - 62px');
	}
	&-content > div {
		height: 100%;
	}

	/* 5.1.1 - Menu */
	&-menu {
		width: 100%;
		background: @dark-grey;
		text-align: left;

		a {
			background: @grey;
			width: 100%;
			border-top: 1px solid @dark-grey;
			cursor: pointer;
			color: #fff;
			padding: 7px 10px;
			box-sizing: border-box;
			display: block;

			&.static {
				background: transparent;
				border: none;
				height: 20px;
			}
		}

		.admin-submenu {
			height: 0%;
			display: none;
			overflow: hidden;

			> a {
				background: transparent;
				border: none;
				color: @light-grey;
				padding: 6px 15px;
			}
		}
	}
	
	/* 5.1.2 - Formuláře*/
	&-form {
		input, textarea {
			display: block;
			width: 100%;
			border-left: 3px solid @light-grey;
			padding: 7px 15px;
			margin-bottom: 10px;
			box-sizing: border-box;
			background: #f8f8f8;
			
			&:hover, &:focus {
				border-color: @theme;
			}
		}
		.btn {
			width: auto;
			margin-bottom: 10px;
			display: block;
			padding: 5px 15px;
			background-color: @theme;
			cursor: pointer;
			box-sizing: border-box;
			.shadow();
		}
	}
}

/* 5.2 - Blog post adding */
.blog {
	.sections {
		display: block;
		width: 100%;
		overflow: hidden;
		.tag {
			display: inline-block;
			padding: 7px;
			background-color: @theme;
			border-radius: 10px;
			margin: 0 2px 2px 0;
		}
	}
	.sections-list {
		display: none;
		width: 100%;
		background-color: #f8f8f8;
		margin: 10px 0;
		overflow: hidden;
		.shadow();

		li {
			height: auto;
			float: left;
			text-align: left;
			font-size: 15px;
			padding: 5px;
			cursor: pointer;
			border-left: 1px solid @theme;

			list-style: none;
			&:hover {
				background-color: @theme;
			}
		}
	}
}

/* 5.2 - Login */
.login-screen {
	background: @theme;
}
.login {
	width: 30%;
	margin: 20% auto;
	background: #f8f8f8;
	text-align: center;
	.shadow();

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		border-left: 2px solid #ddd;
		width: 100%;
		padding: 5px;
		margin: 5px 0;
		box-sizing: border-box;
		.shadow();

		&:hover, &:focus {
			border-color: @theme;
		}
	}
	input[type="checkbox"] {
		width: 20px; height: 20px;
	}
	button {
		padding: 8px 20px;
		background: @theme;
		margin: 5px 0;
		cursor: pointer;

		&:hover, &:active {
			background: @theme-secondary;
		}
	}
}